body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  white-space: pre-wrap; 
  word-break: break-all; 
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

.page-holder {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  position:absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y:scroll;
}


.signed-in-home {
  margin-left: 10%;
  margin-top: 2.5%;
  font-size: 300%;
  font-weight:bold;
  color: white;
}



.table-container {
  margin-left: 10%;
  width: 75%;
  margin-top: 1.5%;
  color: white;
}

.posts-table {
  color: white;
}

@media (max-width:993px) {
  .create-post-button {
    position:relative;
    display:block;
    width:30%;
    margin:auto;
    margin-top:5%;
    text-align:center;
    font-weight: bold !important;
    background: rgb(23, 26, 26);
    border-color:white;
    border-radius:1vw;
    font-size: 3vw;
    height:5%;
    border-width:thin;
    color:white;
    padding:.5vw;

  }

  .reset-password {
    font-size:3vw;
    color:white;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 30%;
    width:100%;
  }
  

  .display-change-input {
    position:absolute;
    left: 45%;
  }

  .profile-info-container {
    position: relative;
    margin:auto;
    margin-top:20%;
    width: 80%;
    border-radius: 2vw;
    background: rgb(23, 26, 26);
    padding: 8%;
  }
  
  .create-post-button-1 {
    position: relative !important;
    left: 40% !important;
    top:1% !important;
    font-weight:bold !important;
  }

  .submit-changes-button {
    position: fixed;
    left:53%;
    margin-top:10%;
    font-weight: bold !important;
    background: rgb(23, 26, 26);
    border-color:white;
    border-radius:1vw;
    border-width:thin;
    width:20%;
    color:white;
    font-size: 2vw;
    padding:1vw;
  }

  .reset-password-button {
    position:fixed;
    font-weight: bold !important;
    background: rgb(23, 26, 26);
    border-color:white;
    border-radius:1vw;
    width:20%;
    margin:auto;
    left:53%;
    border-width:thin;
    color:white;
    font-size: 2vw;
    padding:1vw;
  }

  .reset-name {
    font-size:3vw;
    color:white;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 5%;
  }
}

@media (min-width:994px) {
  .create-post-button {
    position: relative !important;
    left: 44% !important;
    top:20% !important;
    font-weight: bold !important;
    background: rgb(23, 26, 26);
    border-color:white;
    border-radius:1vw;
    border-width:medium;
    color:white;
    font-size: 1.5vw;
    padding:.5vw;

  }

  .reset-password {
    font-size:2vw;
    color:white;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 15%;
    width:100%;
  }
  

  .display-change-input {
    position:absolute;
    left: 30%;
  }

  .profile-info-container {
    position: relative;
    left: 30%;
    top: 15%;
    width: 40%;
    border-radius: 1vw;
    background: rgb(23, 26, 26);
    padding: 2%;
  }

  .submit-changes-button {
    position: fixed;
    left: 34% !important;
    margin-top:2.5%;
    font-weight: bold !important;
    background: rgb(23, 26, 26);
    border-color:white;
    width:15%;
    border-radius:1vw;
    border-width:medium;
    color:white;
    font-size: 1.5vw;
    padding:.5vw;
  }

  .reset-password-button {
    position: fixed;
    left: 34% !important;
    width:15%;
    font-weight: bold !important;
    background: rgb(23, 26, 26);
    border-color:white;
    border-radius:1vw;
    border-width:medium;
    color:white;
    font-size: 1.5vw;
    padding:.5vw;
  }

  .create-post-button-1 {
    position: relative !important;
    left: 40% !important;
    top:4% !important;
    font-weight:bold !important;
  }

  .reset-name {
    font-size:2vw;
    color:white;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 5%;
  }
}

.create-post-form {
  color: dark;
}

.profile-info-heading {
  position:relative;
  font-size:1.5vw;
  margin-top: 5%;
  color: white;
  font-weight: bold;
}

.profile-info-content {
  position:absolute;
  font-size:1.5vw;
  color: white;
  font-weight:normal;
  left: 45%;
}

.profile-picture {
  position: relative;
  left: 35%;
  width:25%;
  height:auto;
  border-radius:1vw;
}


@media (max-width:800px) {
  .form-container {
    position: relative;
    margin:auto;
    margin-top:15%;
    width: 80%;
    border-radius: 1vw;
    background: rgb(23, 26, 26);
    padding: 4%;
  }

  .posts-display-home {
    margin-left: 10%;
    margin-top: 2.5%;
    margin-bottom:2.5%;
    font-size: 5vw;
    font-weight:bold;
    color: black;
  }

  .profile-picture {
    position: relative;
    left: 35%;
    width:25%;
    height:auto;
    margin-bottom:5%;
    border-radius:1vw;
  }

  .profile-info-heading {
    position:relative;
    font-size:3vw;
    margin-top: 5%;
    color: white;
    font-weight: bold;
  }
  
  .profile-info-content {
    position:absolute;
    font-size:3vw;
    color: white;
    font-weight:normal;
    left: 45%;
  }

  .post-form-title {
    position: relative;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 7vw;
    top:5%;
  }

  .form-label {
    font-size:4vw;
    color:white;
    font-weight:bold;
  }

  .form-control {
    font-size:1vw;
  }

  .post-form-button {
    position: relative;
    margin:auto;
    text-align:center;
    font-weight:bold;
    width:80%;
    margin-top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .post-container {
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    border:solid;
    border-color:white;
    border-width:thin;
    border-radius:2vw;
    padding:2vw;
    margin-bottom:5%;
    overflow:hidden;
    display:flex;
  }

  .welcome-message {
    position: relative;
    text-align: center;
    color:black;
    font-weight:bold;
    top: 10%;
    font-size: 18vw;
  }
  

}

@media (min-width:801px) {
  .form-container {
    position: relative;
    left: 40%;
    top: 15%;
    width: 20%;
    border-radius: 1vw;
    background: rgb(23, 26, 26);
    padding: 2%;
  }

  .posts-display-home {
    margin-left: 10%;
    margin-top: 2.5%;
    font-size: 2vw;
    font-weight:bold;
    color: black;
  }

  .post-form-title {
    position: relative;
    top: 10%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 3.5vw;
  }

  .form-label {
    font-size:1vw;
    color:white;
    font-weight:bold;
  }

  .form-control {
    font-size:.75vw;
  }

  .post-form-button {
    position: relative;
    margin-top:10%;
    text-align:center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    
  }

  .post-container {
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    border:solid;
    border-color:white;
    border-radius:2vw;
    border-width:medium;
    padding:2vw;
    margin-top:1vw;
    overflow:hidden;
    display:flex;
  }

  .welcome-message {
    position: relative;
    text-align: center;
    color:black;
    font-weight:bold;
    top: 10%;
    font-size: 7.5vw;
  }
  

}




.indv-posts {
  font-size:1.25vw;
  text-align: center;
  vertical-align: baseline;
}

.posts-column-head {
  font-size:1.5vw;
  text-align:center;
}

.post-form-additional {
  position: relative;
  top: 20%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 200%;
}


.vote-icon {
  font-size:2.25vw;
}
.vote-icon:hover {
  cursor:pointer;
}













* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.brand-title {
  font-size:2.5vw;
  font-weight:bold;
  margin-left:1%;
}

.brand-title:hover {
  cursor:pointer;
}

.navbar-links {
  height: 100%;
  font-size:1.5vw;
  font-weight:bold;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  transform:translateY(10%);
}

.toggle-button {
  position: absolute;
  margin-top: 3vw;
  left: 90vw;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 6vw;
  height: 4vw;
}

.toggle-button .bar {
  height:1vh;
  width: 100%;
  background-color: white;
  border-radius: .5vw;
  margin-bottom: .40vh;
}

.profile-dropdown {
  background-color:black;
  border:none;
  font-size:1.5vw;
  font-weight:bold;
  color:white;
  margin-top:-2%;
}

.profile-dropdown-content {
  color:black !important;
  font-size:1vw;
}

.profile-dropdown-content:hover {
  background:	#DCDCDC;
}

.song-title {
  font-size:1vw;
  font-weight:bold;
  color:black;
  margin-left:2vw;
  position:absolute;
}

.song-artist {
  font-size: 1vw;
  font-weight:bold;
  color:black;
  margin-left:2vw;
  position:absolute;
  margin-top:3%;

}


.display-votes {
  font-weight:bold;
  display:inline-block;
  margin-top:50%;
  position:relative;
  color:black;
  margin-left:30%;
  font-size:1.5vw;
}

.yt-link {
  width: 10vw;
  height: 7.5vw;
  float:left;
}

.vote-container {
  float:right;
  overflow:auto;
}

.upvote-button {
  font-size:2vw;
  margin-top:15%;
 
}

.downvote-button {
  font-size:2vw;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding:auto;
  }

  .yt-link {
    width: 18vw;
    height: 15vw;
    float:left;
  }

  .navbar-links li:hover {
    transform:none;
  }

  .vote-container {
    float:right;
    width:15vw;
    overflow:auto;
  }
  
  .upvote-button {
    margin-top:-1%;
    margin-bottom:10%;
    font-size:3.5vw;
  }
  
  .downvote-button {
    font-size:3.5vw;
  }

  
.display-votes {
  font-weight:bold;
  display:inline-block;
  margin-left:-30%;
  margin-top:150%;
  position:relative;
  color:black;
  font-size:3vw;
}

  .song-title {
    font-size:3vw;
    font-weight:bold;
    color:black;
    margin-left:2vw;
    position:absolute;
  }
  
  .song-artist {
    font-size: 3vw;
    font-weight:bold;
    color:black;
    margin-left:2vw;
    position:absolute;
    margin-top:10%;
  
  }

  .navbar-links {
    height: 100%;
    font-size:3vw;
    font-weight:bold;
  }

  .profile-dropdown {
    background-color:black;
    border:none;
    font-size:3vw;
    font-weight:bold;
    color:white;
    margin-top:-2%;
  }
  
  .profile-dropdown-content {
    color:black !important;
    font-size:2vw;
  }
  
  .profile-dropdown-content:hover {
    background:	#DCDCDC;
  }

  .brand-title {
    font-size:5vw;
    font-weight:bold;
    margin-left:1%;
  }
  

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }

  
  
}

.individual-posts {
  color:black;
  border:solid;
  border-color:white;
  border-width:medium;
  border-radius:2vw;
  margin-left: 10%;
  margin-top: 2vh;
  width: 20wv;
  padding:1vw;
  font-weight:bold;
}



.song-box {
  float:right;
  width:10vw;
  height:7.5vw;
  margin-right:40vw;
}







.upvote-button:hover {
  cursor:pointer;
  transform:translateY(-5%);
}

.downvote-button:hover {
  cursor:pointer;
  transform:translateY(5%);
}

.display-votes-container {
  width:5vw;
}


