body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  white-space: pre-wrap; 
  word-break: break-all; 
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

.page-holder {
  width: 100%;
  height: 100%;
  background-image: url("https://images.hdqwalls.com/download/music-melody-abstract-4k-jr-1920x1080.jpg");
  position:absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome-message {
  position: relative;
  text-align: center;
  color: white;
  font-weight:bold;
  top: 10%;
  font-size: 7.5vw;
}

.welcome-message1 {
  position: relative;
  text-align: center;
  color: white;
  font-weight:bold;
  top: 20%;
  font-size: 5vw;
}

.signed-in-home {
  margin-left: 10%;
  margin-top: 2.5%;
  font-size: 300%;
  font-weight:bold;
  color: white;
}

.posts-display-home {
  margin-left: 10%;
  margin-top: 2.5%;
  font-size: 2vw;
  font-weight:bold;
  color: white;
}

.table-container {
  margin-left: 10%;
  width: 75%;
  margin-top: 1.5%;
  color: white;
}

.posts-table {
  color: white;
}

.create-post-button {
  position: relative;
  left: 45%;
  font-weight:bold;
}

.create-post-form {
  color: dark;
}

.form-container {
  position: relative;
  left: 40%;
  top: 15%;
  width: 20%;
  border-radius: 1vw;
  background: rgb(23, 26, 26);
  padding: 2%;
}

.post-form-button {
  position: relative;
  margin-top:10%;
  text-align:center;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.post-form-title {
  position: relative;
  top: 10%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3.5vw;
}

.indv-posts {
  font-size:1.25vw;
}

.posts-column-head {
  font-size:1.5vw;
}

.post-form-additional {
  position: relative;
  top: 20%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 200%;
}

span:hover {
  cursor:pointer;
}